@import '../styles/variables.module.scss';

// ABOUT SECTION

.about_container {
    height: 100%;
    background-color: $color-grey-3;
    padding: 80px 0 $spacing-huge;

    .about_wrapper {
        max-width: $grid-width-desktop;
        margin: 0 auto;

        :global {
            h1 {
                padding-bottom: $spacing-small;
            }

            p {
                max-width: calc($spacing-huge * 5);

                
            }

            p:not(:last-child) {
                padding-bottom: $spacing-small;
            }
        }

        .highlight {
            text-decoration: underline;
            font-weight: inherit;
            text-decoration-color: rgba($color-primary, 0.15);
            @supports (text-decoration-skip-ink: none) and (text-underline-offset: 1em) {
                text-underline-offset: -0.65em;
                text-decoration-thickness: 0.6em;
                text-decoration-skip-ink: none;
            }
        }
    }
}

@media only screen and (min-width: $grid-width-mobile) {
    .about_container {
        .about_wrapper {
            padding: 0 $spacing-large;
        }
    }
}

@media only screen and (max-width: $grid-width-mobile) {
    .about_container {
        .about_wrapper {
            padding: 0 $spacing-small;
        }
    }
}