@import '../styles/variables.module.scss';

// PRIMARY BTN

.primary_btn {
    color: $color-grey-1;
    position: relative;
    background: transparent;
    padding: 38px 0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform: translate(0, 0);

    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: $color-grey-1;
    text-align: center;
    height: 60px;
    padding: 0 38px;
    font-weight: 300;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid $color-grey-1;
      border-radius: inherit;
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-primary-light;
      border-radius: inherit;
      z-index: -10;
      transform: translate(8px, 8px);
      transition: transform 0.2s ease-in-out;
    }
  
    &:hover {
      transform: translate(8px, 8px);
    }
    &:hover::after {
      transform: translate(0, 0);
    }
    &:active::after {
      transition: none;
      transform: translate(4px, 4px);
    }
}
  


// SECONDARY BTN

.secondary_btn {
    color: $color-grey-1;
    position: relative;
    background: transparent;
    padding: 38px 0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform: translate(0px, 0px);

    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: $color-grey-1;
    text-align: center;
    height: 60px;
    padding: 0 38px;
    font-weight: 300;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid $color-grey-1;
      border-radius: inherit;
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-grey-3;
      border-radius: inherit;
      z-index: -10;
      transform: translate(8px, 8px);
      transition: transform 0.2s ease-in-out;
    }
  
    &:hover {
      transform: translate(8px, 8px);
    }
    &:hover::after {
      transform: translate(0, 0);
    }
    &:active::after {
      transition: none;
      transform: translate(4px, 4px);
    }
}



// TERTIARY BTN

.tertiary_btn {
    color: $color-grey-1;
    position: relative;
    background: transparent;
    padding: 38px 0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    transform: translate(0px, 0px);

    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: $color-grey-1;
    text-align: center;
    height: 60px;
    padding: 0 38px;
    font-weight: 300;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid $color-grey-1;
        border-radius: inherit;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-white;
        border-radius: inherit;
        z-index: -10;
        transform: translate(8px, 8px);
        transition: transform 0.2s ease-in-out;
    }

    &:hover {
        transform: translate(8px, 8px);
    }
    &:hover::after {
        transform: translate(0, 0);
    }
    &:active::after {
        transition: none;
        transform: translate(4px, 4px);
    }
}