@import '../styles/variables.module.scss';


.button_container {
    display: flex;
    position: relative;

    .primary {
        display: inline-block;
        position: absolute;
        font-size: 20px;
        line-height: 60px;
        letter-spacing: 0.5px;
        color: $color-grey-1;
        text-align: center;

        background-color: transparent;
        width: auto;
        height: 60px;
        padding: 0 38px;
        font-weight: 300;
        border-radius: 6px;
        border: 1px solid $color-grey-1;
        cursor: pointer;
        z-index:1;
        background-repeat:no-repeat;
        overflow: hidden;
        outline:none;
    
        &:hover {
            border: 1px solid $color-grey-1;
            background-color: $color-primary-light;
            letter-spacing: 0.5px;
            cursor: pointer;
        }

    }
    
    .primary_shadow {
        position: absolute;
        display: inline-block;
        box-shadow: 8px 8px $color-primary-light;
        z-index: -1;
        top: 8px;
        left: 8px;
        background-color: $color-primary-light;
        height: 100%;
        width: 100%;
        border-radius: 6px;
    }
}

