@import '../styles/variables.module.scss';


// CONTACT SECTION

.contact_container {
	height: 100%;
	background-color: $color-grey-3;
    padding: $spacing-xxlarge 0 $spacing-huge;

    .contact_wrapper {
        max-width: $grid-width-desktop;
        margin: 0 auto;
        padding: 0 $spacing-large;
    
        :global {
            h1 {
                padding-bottom: $spacing-small;
            }

            p {
                max-width: calc($spacing-huge * 5);                          
            }

            p:not(:last-child) {
                padding-bottom: $spacing-small;
            }
        }
    }
}