@import '../styles/variables.module.scss';

// HOME SECTION
.home_container {
	height: 80vh;
	background-color: $color-white;
	display: flex;
	align-items: center;

	.home_wrapper {
		width: 1200px;
        margin: 0 auto;
        padding: 120px 24px;
		display: flex;
		height: auto;

		.home_wrapper_col_1 {
			width: calc(3 * ((100% - 48px) / 5) + 48px);
		}

		.home_wrapper_col_2 {
			width: calc((100% - 48px) / 4);
		}
	}

    h1 {
        max-width: 1200px;
    }

	h3, h4 {
		padding-bottom: 8px;
	}
}

.home_wrapper_col_1 span:before {
	content: 'Product Designer';
	animation: animate infinite 8s; 
}

@keyframes animate {
	0% {
		content: 'Product Designer';
	}
	33% {
		content: 'Frontend Developer'
	}
	66% {
		content: 'Cat Mother';
	}
}

.profile_pic {
	width: 350px;
	height: 350px;
}