@import '../styles/variables.module.scss';

// HOME SECTION
.home_container {
	height: 80vh;
	background-color: $color-white;
	display: flex;
	align-items: center;

	.home_wrapper {
		width: $grid-width-desktop;
        margin: 0 auto;
        padding: $spacing-huge $spacing-large;
		display: flex;
		height: auto;
		justify-content: space-around;

		.home_wrapper_col_1 {
			width: calc(3 * ((100% - $spacing-large) / 5) + $spacing-large);
		}

		.home_wrapper_col_2 {
			width: calc((100% - $spacing-large) / 4);
		}
	}

    h1 {
        max-width: $grid-width-desktop;
    }

	h3, h4 {
		padding-bottom: $spacing-xxsmall;
	}
}

.home_wrapper_col_1 span:before {
	content: 'Product Designer';
	animation: animate infinite 8s; 
}

@keyframes animate {
	0% {
		content: 'Product Designer';
	}
	33% {
		content: 'Frontend Developer'
	}
	66% {
		content: 'Feminist with cats';
	}
	80% {
		content: ' I am a bit crazy'
	}
}

.profile_pic {
	width: calc($spacing-huge * 3);
	height: calc($spacing-huge * 3);
}