@import '../styles/variables.module.scss';

.header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-white;
	padding: 0 $spacing-large;
	transition: 0.3s;

	.logo {
		display: block;
		width: 100%;

		a {
			h2 {
				color: $color-grey-1;
				line-height: 72px;

				span {
					color: $color-primary;
				}
			}
		}
	}

	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu {
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
			z-index: 9990;
			transition: 0.5s;

			li {
				list-style-type: none;

				a {
					color: $color-grey-1;
					text-decoration: none;
					display: block;
					line-height: 72px; 
					padding: 0 $spacing-small;
					transition: 0.3s;

					&:hover {
						color: $color-primary;
						text-decoration: underline;
					}
				}
			}
		}

		.hamburger {
			position: relative;
			width: 30px;
			height: 4px;
			background: $color-grey-1;
			border-radius: 6px;
			cursor: pointer;
			z-index: 9991;
			transition: 0.3s;

			&::before, 
			&::after {
				content: "";
				position: absolute;
				height: 4px;
				right: 0;
				background: $color-grey-1;
				border-radius: 6px;
				transition: 0.3s;
			}

			&::before {
				top: -10px;
				width: 20px;
			}

			&::after {
				top: 10px;
				width: 25px;
			}
		}

		.toggle_menu {
			position: absolute;
			width: 30px;
			height: 100%;
			z-index: 9993;
			cursor: pointer;
			opacity: 0;

			&:checked ~ .hamburger {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(-45deg);
					width: 30px;
				}

				&::after {
					top: 0;
					transform: rotate(45deg);
					width: 30px;
				}
			}

			&:checked ~ .menu {
				right: 0;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
			}
		}

		.hamburger,
		.toggle_menu {
			display: none;
		}
	}
}

@media screen and (max-width: $grid-width-mobile) {
	.header {
		padding: 10px 20px;
		background-color: $color-primary;

		.navigation {
			overflow: hidden;
			.hamburger,
			.toggle_menu {
				display: block;
			}

			.menu {
				
				justify-content: start;
				flex-direction: column;
				align-items: center;
				position: fixed;
				top: 0;
				right: -300px;
				background: $color-grey-4;
				width: 300px;
				height: 100%;
				padding-top: $spacing-large;

				li {
					width: 100%;

					a {
						padding: $spacing-small;
						font-size: 20px;
						line-height: 48px;
					}
				}
			}
		}
	}	
}
