@import '../styles/variables.module.scss';

.header_container {
	position: fixed;
	top: 0;
	width: 100%;
	height: $spacing-xlarge;
	padding: 0 $spacing-large;
	background-color: $color-white;
	z-index: 100;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	

	.nav_container {
		display: flex;
		justify-content: space-between;
		height: $spacing-xlarge;
		max-width: $grid-width-desktop;
		margin: 0 auto;

		h2 {
			line-height: $spacing-xlarge;
			height: $spacing-xlarge;

			&:hover {
				color: $color-primary
			}
		}
	}

	.menu_container {
		text-align: center;
		line-height: $spacing-xlarge;
	
		:global {
			li, a {
				display: inline-block;
				text-align: center;
				font-size: 16px;
				height: $spacing-xlarge;
				width: $spacing-xlarge;
				font-weight: 400;
				color: $color-grey-1;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}

.nav_container li a:hover {
	font-weight: 600;
	color: $color-primary;
}

.social_icons_container {
	line-height: $spacing-xlarge;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	.social_icon {
		// display: inline-block;
		align-items: center;
		align-self: center;
		align-content: center;
		height: 100%;
		width: $spacing-small;

		.social_icon_linkedin {
			align-items: center;
		align-self: center;
		align-content: center;
		}
	}
}

