@import '../styles/variables.module.scss';

.work_container {
	height: 100%;
    background-color: $color-white;
    padding: $spacing-xxlarge 0 $spacing-huge;

    .work_wrapper {
        max-width: $grid-width-desktop;
        margin: 0 auto;

        :global {
            h1 {
                padding-bottom: $spacing-small;
            }

            p {
                max-width: calc($spacing-huge * 5);                           
            }
            p:not(:last-child) {
                padding-bottom: $spacing-small;
            }
        }

        .work_list_card {
            width: 30%;
            height: 30%;
            cursor: pointer;
            padding: 16px 0 ;

            p {
                display: inline;
                padding-right: 8px;
            }
        }
    }
}

@media only screen and (min-width: $grid-width-mobile) {
    .work_container {
        .work_wrapper {
            padding: 0 $spacing-large;
        }
    }
}

@media only screen and (max-width: $grid-width-mobile) {
    .work_container {
        .work_wrapper {
            padding: 0 $spacing-small;
        }
    }
}