@import '../styles/variables.module.scss';

.work_container {
	height: 100%;
    background-color: $color-white;
    padding: $spacing-xxlarge 0 $spacing-huge;

    .work_wrapper {
        max-width: $grid-width-desktop;
        margin: 0 auto;

        :global {
            h1 {
                padding-bottom: $spacing-small;
            }

            p {
                max-width: calc($spacing-huge * 5);                           
            }
        }

        .work_list_wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: $spacing-small;
            margin-top: $spacing-medium;


            .work_list_card {
                width: 33%;
                height: 33%;
                cursor: pointer;

                .work_list_card_description{
                    .tag {
                        font-size: 14px;
                        line-height: 24px;
                        display: inline;
                        width: inherit;
                        padding-bottom: 0;
                    }
                }
    
            }
        }
    }
}

@media only screen and (min-width: $grid-width-mobile) {
    .work_container {
        .work_wrapper {
            padding: 0 $spacing-large;
        }
    }
}

@media only screen and (max-width: $grid-width-mobile) {
    .work_container {
        .work_wrapper {
            padding: 0 $spacing-small;
        }
    }
}