.work_container {
	height: 100vh;
    background-color: red;

    .work_wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 48px;

        :global {
            p {
                max-width: 600px;
            }
        }
    }
}