@import '../styles/variables.module.scss';


.header_details {
    position: fixed;
	z-index: 9000;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-white;
	padding: 0 $spacing-large;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	transition: 0.3s;

    .logo {
		display: block;
		width: 100%;

		a {
			h2 {
				color: $color-grey-1;
				line-height: 72px;

				span {
					color: $color-primary;
				}
			}
		}
	}
}

.mySwiper {
    background-color: $color-primary;

    .mySwiper_module {
        background-color: aqua;
    }
}

.link_primary { 
    color: $color-primary;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.work_description {

    p {
        max-width: calc($spacing-huge * 5);                         
    }
    
    p:not(:last-child) {
        padding-bottom: $spacing-small;
    }

}