@import "./variables.module.scss";
@import "./typography.module.scss";

@import "./navigation.module.scss";
@import "./home.module.scss";
@import "./about.module.scss";
@import "./work.module.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	background: transparent;
	font-family: inherit;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}  

textarea {
	resize: none;
}

button,
textarea,
select {
	appearance: none !important;
	border-radius: 0;
}

li {
	list-style: none;
}

/* RESET OVER */


// GLOBAL STYLES
body {
	font-family: 'Poppins', sans-serif;
}

main {
	margin: 0 auto;
}

h1 {
	font-size: 100px;
	line-height: 100px;
	color: $color-primary;
}
h2 {
	font-size: 48px;
	line-height: 48px;
	color: $color-grey-1;
}

p {
	color: $color-grey-2;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	padding: 16px 0;
}