* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	background: transparent;
	font-family: inherit;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}  

textarea {
	resize: none;
}

button,
textarea,
select {
	appearance: none !important;
	border-radius: 0;
}

li {
	list-style: none;
}

/* RESET OVER */



// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');



// COLORS
$color-primary: #E65A4F;
$color-primary-light: #F9D8D5;

$color-grey-1: #282824;
$color-grey-2: #505048;
$color-grey-3: #f3f3f1;
$color-white: white;



// GLOBAL STYLES
body {
	font-family: 'Poppins', sans-serif;
}

main {
	margin: 0 auto;
}

h1 {
	font-size: 100px;
	line-height: 100px;
	color: $color-primary;
}
h2 {
	font-size: 48px;
	line-height: 48px;
	color: $color-grey-1;
}

p {
	color: $color-grey-2;
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
}

// NAVIGATION
.header-container {
	display: flex;
	justify-content: space-between;
	height: 72px;
	padding-top: 24px;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 24px;
}

.nav-container {
	text-align: center;}

.nav-container li,
.nav-container a {
	display: inline-block;
	text-align: center;
	font-size: 16px;
	line-height: 48px;
	font-weight: 400;
	
	color: $color-grey-1;
	text-decoration: none;
	cursor: pointer;
	padding: 0 24px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

.nav-container li a:hover {
	font-weight: 600;
	color: $color-primary;
}

// HOME SECTION
.home-container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100vh;
	margin: 0 auto;
}

.home-container h1 {
	max-width: 500px;
}

.home-container span:before {
	content: 'Product Designer';
	animation: animate infinite 8s; 
}
@keyframes animate {
	0% {
		content: 'Product Designer';
	}
	33% {
		content: 'Frontend Developer'
	}
	66% {
		content: 'Cat Mother';
	}
}

// ABOUT SECTION
.about-container {
	height: 100vh;
	background-color: $color-grey-3;
}

.about-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 48px;
}

.about-wrapper p {
	max-width: 600px;
}

// WORK SECTION
.work-container {
	height: 100vh;
}

.work-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 48px;
}

.work-wrapper p {
	max-width: 600px;
	
}

// CONTACT SECTION
.contact-container {
	height: 100vh;
	background-color: $color-grey-3;
}

.contact-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 48px;
}

.contact-wrapper p {
	max-width: 600px;
}