// COLORS
$color-primary: #E65A4F;
$color-primary-light: #F9D8D5;
$color-primary-lighter: #fceceb;

$color-grey-1: #282824;
$color-grey-2: #505048;
$color-grey-3: #e7e7e4;
$color-grey-4: #f3f3f1;
$color-white: white;


// GRID
$grid-width-desktop: 80rem;

$spacing-xsmall: .5rem;     // 8px
$spacing-small: 1rem;       // 16px
$spacing-medium: 1.5rem;    // 24px
$spacing-large: 2rem;       // 32px
$spacing-xlarge: 3rem;      // 48px
$spacing-xxlarge: 10rem;    // 80px
$spacing-huge: 15rem;       // 120px