// COLORS
$color-primary: #E65A4F;
$color-primary-light: #F9D8D5;
$color-primary-lighter: #fceceb;

$color-grey-1: #030100; // #282824; 0B1E2E
$color-grey-2: #505048;
$color-grey-3: #e7e7e4;
$color-grey-4: #f3f3f1;
$color-grey-5: #b7b7ae;
$color-white: white;


// GRID
$grid-width-desktop: 80rem;     // 1280px
$grid-width-tablet: 55rem;     // 880px
$grid-width-mobile: 36rem;     // 580px

$spacing-xxsmall: .5rem;        // 8px
$spacing-xsmall: 1rem;          // 16px
$spacing-small: 1.5rem;         // 24px
$spacing-medium: 2rem;          // 32px
$spacing-large: 3rem;           // 48px
$spacing-xlarge: 4.5rem;        // 72px
$spacing-xxlarge: 5rem;         // 80px
$spacing-huge: 7.5rem;          // 120px